/* Custom CSS */
body {
    background-color: #57659e;
    color: #443e46;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    border-bottom: 1px solid #c57284;
  }
  
  .nav-link {
    color: #f6deb8 !important;
  }
  
  .nav-link:hover {
    color: #908ca4 !important;
  }
  
  .btn-primary {
    background-color: #ff5b60;
    border-color: #ff5b60;
  }
  
  .btn-primary:hover {
    background-color: #c57284;
    border-color: #c57284;
  }
  
  .card {
    background-color: #908ca4;
    border: none;
    color: #443e46;
  }
  
  .card-title,
  .card-text {
    color: #443e46;
  }
  
  .btn-outline-light {
    color: #f6deb8;
    border-color: #f6deb8;
  }
  
  .btn-outline-light:hover {
    color: #ff5b60;
    border-color: #ff5b60;
  }
  
  .bg-dark {
    background-color: #443e46 !important;
  }
  
  .text-white {
    color: #f6deb8 !important;
  }
  