/* Custom CSS */
body {
    background-color: #252b2b;
    color: #efdfc5;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    border-bottom: 1px solid #dc2011;
  }
  
  .nav-link {
    color: #efdfc5 !important;
  }
  
  .nav-link:hover {
    color: #dc2011 !important;
  }
  
  .btn-primary {
    background-color: #380f17;
    border-color: #380f17;
  }
  
  .btn-primary:hover {
    background-color: #8f0b13;
    border-color: #8f0b13;
  }
  
  .card {
    background-color: #4c4f54;
    border: none;
    color: #efdfc5;
  }
  
  .card-title {
    color: #efdfc5;
  }
  
  .card-text {
    color: #efdfc5;
  }
  
  .btn-outline-light {
    color: #efdfc5;
    border-color: #efdfc5;
  }
  
  .btn-outline-light:hover {
    color: #dc2011;
    border-color: #dc2011;
  }
  
  .bg-dark {
    background-color: #252b2b !important;
  }
  
  .text-white {
    color: #efdfc5 !important;
  }
  